---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import profil from "../assets/images/profilpic.webp";
import computer from "../assets/images/computer.svg";
import puzzle from "../assets/images/puzzle.svg";
import code from "../assets/images/code.svg";
import education from "../assets/images/education.svg";
import works from "../assets/images/works.svg";
import sprog from "../assets/images/sprog.svg";
import fly from "../assets/images/fly.svg";
import susse from "../assets/images/susse.webp";
import digital from "../assets/images/digital.webp";
import karrusel from "../assets/images/karrusel.webp";
import snuggy from "../assets/images/snuggy.webp";
import pleasant from "../assets/images/pleasant.webp";
import some from "../assets/images/some.webp";
---

<MainLayout title="personal professional profile">
  <section class="flex flex-col justify-center items-center pt-14 md:px-6">
    <div class="w-full flex flex-col justify-center items-center relative md:h-[300px] lg:h-[500px]">
      <div class="flex justify-center items-center mx-auto gap-4 relative">
        <div class="flex flex-col justify-center px-4">
          <p class="text-[#F4F4ED] text-[18px] font-[text] tracking-wide md:px-4 md:text-[24px]">Kreativ / Organiseret / Engageret</p>
          <h1 class="text-[#ecd14b] text-6xl md:px-4 lg:text-[100px] font-[Display]">DIGITAL DESIGNER</h1>
          <h1 class="text-[#ecd14b] text-6xl flex justify-start md:px-4 lg:text-[100px] md:justify-end md:pl-72 lg:pl-96 font-[Display]">HUI-JIN BAK</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col justify-center px-4 items-center mx-0 pb-10 md:pb-20">
    <div class="w-full gap-10 mx-auto pt-20 md:grid md:grid-cols-2 md:max-w-7xl md:px-6">
      <div class="flex justify-center items-center md:justify-start md:items-start"><Image src={profil} alt="profil picture" class="w-full h-auto rounded-lg" /></div>
      <div class="flex flex-col items-start">
        <h1 class="text-4xl pt-10 md:pt-0 md:text-6xl flex items-end w-full text-[#ecd14b] font-[Display]">
          Om mig
          <span class="border-solid border-b-2 border-[#ecd14b] flex-1 h-1 ml-2"></span>
        </h1>
        <p class="flex-1 items-center justify-center pt-6 lg:text-justify md:pt-6 lg:mt-8 lg:px-8">
          Hej, jeg hedder <span class="font-bold italic text-[#ecd14b]">Hui-jin Bak</span>, og jeg er <span class="font-bold text-[#ecd14b] italic">digital designer </span> bosat i København, oprindeligt fra Sydkorea. Jeg studerer multimediedesign ved KEA Jeg studerer multimediedesign ved KEA og har udviklet 10 forskellige hjemmesider i løbet af mine halvandet år på studiet. Jeg søger <span class="font-bold text-[#ecd14b] italic">en praktikplads</span> inden for <span class="font-bold text-[#ecd14b] italic">UI/UX design og webdesign.</span> Med erfaring i HTML, CSS og JavaScript har jeg skabt brugervenlige og responsive websites, der kombinerer æstetik med funktionalitet. Jeg er passioneret omkring webdesign og stræber efter at skabe digitale løsninger, der er både smukke og intuitive.
        </p>
      </div>
    </div>
  </section>

  <section class="bg-[#1e2e17] w-full md:px-6">
    <div class="flex flex-col mx-auto md:max-w-7xl justify-center pt-10 pb-10 w-full md:h-[700px]">
      <div>
        <h1 class="text-4xl px-4 md:text-6xl flex items-end w-full text-[#ecd14b] font-[Display]">
          Kvalifikationer
          <span class="border-solid border-b-2 border-[#ecd14b] flex-1 h-1 ml-2"></span>
        </h1>
      </div>
      <div class="flex flex-col pt-10 px-4 gap-10 md:flex-row md:mx-auto md:gap-20 md:pt-20 lg:gap-60">
        <div class="sm:grid grid-cols-2 w-full md:flex flex-col">
          <Image src={computer} alt="what do i do" class="flex justify-center items-center mx-auto md:flex md:justify-start md:items-start md:mx-0" />
          <div class="flex flex-col justify-center items-center pt-2 md:flex md:justify-start md:items-start md:pt-10">
            <h1 class="text-[18px] font-bold pb-4">Hvad jeg kan</h1>
            <p>UI/UX design</p>
            <p>Grafisk design</p>
            <p>Webudvikling</p>
            <p>Video- og billedredigering</p>
          </div>
        </div>
        <div class="sm:grid grid-cols-2 w-full md:flex flex-col">
          <Image src={code} alt="my tech stack" class="flex justify-center items-center mx-auto md:flex md:justify-start md:items-start md:mx-0" />
          <div class="flex flex-col justify-center items-center pt-2 md:flex md:justify-start md:items-start md:pt-10">
            <h1 class="text-[18px] font-bold pb-4">Min tekniske stak</h1>
            <p>HTML / Tailwind CSS / JavaScript</p>
            <p>Github / Git</p>
            <p>Figma</p>
            <p>Adobe Illustrator</p>
            <p>Adobe Photoshop</p>
            <p>Adobe Premiere Pro</p>
          </div>
        </div>
        <div class="sm:grid grid-cols-2 w-full md:flex flex-col">
          <Image src={puzzle} alt="what you can expect" class="flex justify-center items-center mx-auto md:flex md:justify-start md:items-start md:mx-0" />
          <div class="flex flex-col justify-center items-center pt-2 md:flex md:justify-start md:items-start md:pt-10">
            <h1 class="text-[18px] font-bold pb-4">Hvad jeg vil</h1>
            <p>UI / UX design</p>
            <p>Visuelt Design</p>
            <p>Kode / interactive design</p>
            <p>Nye frameworks / tools</p>
            <p>Figma</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col w-full px-4 mx-auto justify-center pt-10 md:pt-24 md:max-w-7xl md:px-6">
    <div>
      <h1 class="text-4xl md:text-6xl flex items-end w-full text-[#ecd14b] font-[Display]">
        CV
        <span class="border-solid border-b-2 border-[#ecd14b] flex-1 h-1 ml-2"></span>
      </h1>
    </div>

    <div>
      <article class="flex flex-col md:grid-cols-10 md:grid-rows-8 md:grid">
        <div class="flex items-center justify-center p-6 mt-10 md:p-0 col-start-1 col-end-3 row-start-1 row-end-4 border-solid border-2 md:border-0 md:border-r-2 md:mt-0 border-[#ecd14b]">
          <Image src={education} alt="CV education" class="md:w-22" />
        </div>

        <div class="flex flex-col md:mx-auto md:justify-center md:items-center col-start-3 col-end-5 row-start-1 row-end-4 py-6 border-solid md:border-r-2 border-[#ecd14b] w-full">
          <div class="flex flex-col md:justify-center md:px-6 md:mx-auto gap-2">
            <p class="text-[18px] font-bold pb-2">Uddannelse</p>
            <div class="pb-2 text-left">
              <p class="font-semibold break-words hyphens-auto">KEA / Multimediedesigner</p>
              <p class="text-[14px]">2023 - 2025, juni</p>
            </div>

            <div>
              <p class="font-semibold">GIF / Dansk A</p>
              <p class="text-[14px]">2022 - 2023, juni</p>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center p-6 md:p-0 col-start-5 col-end-7 row-start-1 row-end-5 border-solid border-2 md:border-0 md:border-r-2 border-[#ecd14b]">
          <Image src={works} alt="CV erfaringer" class="md:w-22" />
        </div>

        <div class="flex flex-col md:mx-auto col-start-7 col-end-11 row-start-1 row-end-5 border-solid border-[#ecd14b]">
          <div class="flex flex-col pt-6 gap-2 md:justify-center md:mx-auto md:p-6">
            <p class="text-[18px] font-bold pb-2">Erfaringer</p>
            <div class="pb-2 md:text-left">
              <p class="font-bold">Lampros Kraft / Product Listing Coordinator, Assistant</p>
              <p class="text-[14px]">2015 - 2016 (i Sydkorea)</p>
            </div>
            <div>
              <p class="font-bold">In The Block / Graphic Designer, Assistant</p>
              <p class="text-[14px]">2014 - 2015 (i Sydkorea)</p>
            </div>
            <div>
              <p class="font-bold">Sekyung Printing / Printing Designer, Deltidsjob</p>
              <p class="text-[14px]">2011 - 2013 (i Sydkorea)</p>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center p-6 mt-6 md:mt-0 col-start-3 col-end-5 row-start-4 row-end-8 border-solid border-2 md:border-0 md:border-r-2 md:border-t-2 border-[#ecd14b]">
          <Image src={fly} alt="CV Tværkulturel erfaring" class="md:w-22" />
        </div>

        <div class="flex flex-col md:justify-center md:items-center md:mx-auto w-full col-start-1 col-end-3 row-start-4 row-end-8 py-6 md:border-solid md:border-r-2 md:border-t-2 border-[#ecd14b]">
          <div class="flex flex-col md:justify-center md:mx-auto gap-2">
            <p class="text-[18px] font-bold pb-2 md:text-center">Tværkulturel erfaring</p>
            <div class="pb-2 text-left md:text-center">
              <p class="font-bold">Sverige</p>
              <p class="text-[14px]">2017 - 2018</p>
            </div>

            <div class="md:text-center">
              <p class="font-bold">Australien</p>
              <p class="text-[14px]">2012 - 2014</p>
            </div>

            <div class="md:text-center">
              <p class="font-bold">Japan</p>
              <p class="text-[14px]">2010 - 2011</p>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center p-6 col-start-8 col-end-11 row-start-5 row-end-8 border-solid w-full border-2 md:border-0 md:border-t-2 border-[#ecd14b]">
          <Image src={sprog} alt="CV sprog" class="md:w-22" />
        </div>

        <div class="flex flex-col justify-center mx-auto pt-4 md:pb-6 col-start-5 col-end-8 w-full row-start-5 row-end-8 md:border-solid md:border-r-2 md:border-t-2 border-[#ecd14b]">
          <div class="flex flex-col md:justify-center md:mx-auto gap-2">
            <p class="text-[18px] font-bold pb-2">Sprog</p>
            <div>
              <p class="font-bold">Koreansk <span class="text-[14px] font-normal"> / modersmål</span></p>
            </div>
            <div>
              <p class="font-bold">Dansk <span class="text-[14px] font-normal">/ Dansk A</span></p>
            </div>
            <div>
              <p class="font-bold">Engelsk <span class="text-[14px] font-normal"> / mellemstadie</span></p>
            </div>
            <div>
              <p class="font-bold">Japansk <span class="text-[14px] font-normal"> / begynderniveau</span></p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="px-4 md:px-6">
    <div class="md:px-6">
      <div class="flex flex-col mx-auto max-w-7xl justify-center pt-10 pb-10 md:pb-28 w-full">
        <h1 class="text-4xl md:px-6 md:text-6xl flex items-end w-full text-[#ecd14b] font-[Display]" id="projekter">
          Projekter
          <span class="border-solid border-b-2 border-[#ecd14b] flex-1 h-1 ml-2"></span>
        </h1>
      </div>

      <article class="flex justify-start items-start content-start flex-wrap m-0 p-0 gap-[28px] row-gap-[20px] md:max-w-7xl mx-auto md:grid md:grid-cols-2 lg:grid-cols-3">
        <div class="flex flex-col w-full">
          <a href="https://digitalskraldgruppe6.netlify.app/" target="_blank"><Image src={digital} alt="Digital skraldedag" class="w-full h-auto object-cover rounded-md" /></a>
          <h1 class="py-4 font-semibold text-[20px]">Digital skraldedag</h1>
          <div class="">
            <p>Redesignet den engelske version af hjemmesiden til den danske version med fokus på interface design og frameworks.</p>
            <div class="flex flex-col gap-2 md:gap-4 pt-2 text-[14px]">
              <div class="flex gap-4 text-[12px] md:text-[14px] md:flex-wrap">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">TailwindCSS</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Alpine.js</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Illustrator</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <div class="flex flex-col w-full justify-center">
            <a href="https://sussevolanderart.netlify.app//" target="_blank"><Image src={susse} alt="Susse Volander" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Susse Volander</h1>
            <div class="">
              <p>Redesign af eksisterende hjemmeside med fokus på UI/UX design, webudvikling og fotografi.</p>
              <div class="flex gap-4 pt-2 text-[12px] md:text-[14px] md:flex-wrap">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Javascript</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Astro</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Photoshop</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center md:pt-10 lg:pt-0">
          <div class="flex flex-col">
            <a href="https://karruselfest.netlify.app/" target="_blank"><Image src={karrusel} alt="Karrusel" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Karrusel</h1>
            <div class="">
              <p>Redesign af eksisterende hjemmeside med fokus på databaser (Supabase), Astro og komponenter.</p>
              <div class="flex gap-4 pt-2 text-[12px] md:text-[14px]">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Astro</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Supabase</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center md:pt-10">
          <div class="flex flex-col mx-auto justify-center">
            <a href="https://snuggyseventyr.netlify.app/spil" target="_blank"><Image src={snuggy} alt="Snuggys Eventyr" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Snuggys Eventyr</h1>
            <div>
              <p>Den er en spil for børn, med fokus på animationer og illustrator.</p>
              <div class="flex flex-col gap-4 pt-2 text-[14px]">
                <div class="flex gap-4 text-[12px] md:text-[14px]">
                  <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Illustrator</p>
                  <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">JavaScript</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center md:pt-10">
          <div class="flex flex-col">
            <a href="https://www.youtube.com/watch?v=s2HgdR51fQc" target="_blank"><Image src={pleasant} alt="Pleasant" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Pleasant</h1>
            <div class="">
              <p>Den er et interview video, med fokus på filmer og redegering videoen.</p>
              <div class="flex gap-4 text-[12px] pt-2 md:text-[14px]">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Premiere Pro</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">YouTube</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center md:pt-10">
          <div class="flex flex-col justify-center">
            <a href="https://www.youtube.com/watch?v=_enJwGTl9HU" target="_blank"><Image src={some} alt="Ungeanalyse" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Ungeanalyse</h1>
            <div class="">
              <p>Den er en motiongrafik video, med fokus på motiongrafik og datavisualisering.</p>
              <div class="flex pt-2 gap-4 text-[12px] md:text-[14px]">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Premiere Pro</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Illustrator</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</MainLayout>
