---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import profil from "../assets/images/profilpic.webp";
import computer from "../assets/images/computer_1.svg";
import puzzle from "../assets/images/puzzle_1.svg";
import code from "../assets/images/codning_1.svg";
import education from "../assets/images/education_1.svg";
import works from "../assets/images/works_1.svg";
import sprog from "../assets/images/sprog_1.svg";
import fly from "../assets/images/fly_1.svg";
import susse from "../assets/images/susse.webp";
import digital from "../assets/images/digital.webp";
import singleuse from "../assets/images/singleusesucks.webp";
import snuggy from "../assets/images/snuggy.webp";
import pleasant from "../assets/images/pleasant.webp";
import typografi from "../assets/images/typografi.webp";
import favicon from "../assets/images/favicon_1.svg";
import maltclub from "../assets/images/maltclub.webp";
---

<MainLayout title="personal professional profile">
  <section class="flex flex-col justify-center items-center pt-32 md:px-6 md-pt-0" id="om-mig">
    <div class="w-full flex flex-col justify-center items-center relative md:h-[300px] lg:h-[500px]">
      <div class="flex justify-center items-center mx-auto gap-4 relative">
        <div class="flex flex-col justify-center px-4">
          <p class="text-[#F4F4ED] text-[18px] font-[text] tracking-wide md:px-4 md:text-[24px] animate__animated animate__slideInUp">Kreativ / Organiseret / Engageret</p>
          <h1 class="text-[#ebcd38] text-4xl break-words hyphens-auto md:px-4 sm:text-6xl md:text-6xl lg:text-[100px] font-[Display] cssanimation leBlurInRight sequence">DIGITAL DESIGNER</h1>

          <div class="flex">
            <div class="text-[#ebcd38] text-4xl flex justify-start md:px-4 sm:text-6xl md:text-6xl lg:text-[100px] md:justify-end md:pl-[220px] lg:pl-72 font-[Display]">
              <Image src={favicon} alt="me" class="hidden sm:block sm:w-16 md:block md:w-24 justify-end w-full animate__animated animate__lightSpeedInLeft m-2" />
              <div id="lydeffekt" class="" x-data="{ sound: $refs.lydeffekt }" x-init="sound.load()">
                <h1 class="cssanimation leBlurInRight sequence" @mouseenter="$refs.lydeffekt.play()" @mouseleave="sound.pause(); sound.currentTime = 0;">HUI-JIN BAK</h1>
                <audio x-ref="lydeffekt">
                  <source src="navn.mp3" type="audio/mpeg" />
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col justify-center px-4 items-center mx-0 pb-10 md:pb-28">
    <div class="w-full gap-10 mx-auto pt-10 md:pt-20 md:grid md:grid-cols-2 md:max-w-7xl md:px-6">
      <div class="flex justify-center items-center profil md:justify-start md:items-start"><Image src={profil} alt="profil picture" class="w-[400px] md:w-full h-auto rounded-lg sm:w-[500px]" /></div>
      <div class="flex flex-col items-start om_mig">
        <h1 class="text-4xl pt-10 md:pt-0 md:text-6xl flex items-end w-full tracking-wide text-[#ebcd38] font-[Display]">
          Om mig
          <span class="border-solid border-b-2 border-[#ebcd38] flex-1 h-1 ml-2"></span>
        </h1>
        <div class="flex-1 items-center justify-center pt-6 lg:text-left md:pt-5 lg:mt-8 lg:px-8">
          <p>Mit navn er <span class="font-bold italic text-[#ebcd38]">Hui-jin Bak</span>, og jeg er <span class="font-bold text-[#ebcd38] italic">en digital designer</span> bosat i København. Jeg kommer oprindeligt fra Sydkorea, og <span class="font-bold italic text-[#ebcd38]">studerer nu multimediedesign på KEA.</span> I løbet af mine halvandet år på studiet, har jeg udviklet 10 større projekter.</p>
          <br />
          <p>Jeg er primært dedikeret til <span class="font-bold text-[#ebcd38] italic">digital konceptudvikling, webudvikling og indholdsproduktion,</span> og stræber altid efter at skabe løsninger, der både er intuitive, funktionelle og visuelt interessante. Denne kombination af æstetik og funktion er kernen i en stor del af mit arbejde.</p>
          <br />
          <p>For at udvikle mine kompetencer yderligere, søger jeg nu en <span class="font-bold text-[#ebcd38] italic"> praktikplads,</span> der kan udfordre og inspirere mig. Som en <span class="font-bold text-[#ebcd38] italic">ansvarlig og nysgerrig person af natur,</span> tager jeg altid gerne imod nye udfordringer, og går til dem med fuld dedikation.</p>
        </div>
        <p></p>
      </div>
    </div>
  </section>

  <section class="bg-[#172412] w-full md:px-6">
    <div class="flex flex-col mx-auto justify-center pt-10 pb-10 w-full md:pt-10 md:max-w-7xl md:h-[700px]">
      <div>
        <h1 class="text-4xl px-4 md:text-6xl flex items-end w-full tracking-wide text-[#ebcd38] font-[Display]">
          Kvalifikationer
          <span class="border-solid border-b-2 border-[#ebcd38] flex-1 h-1 ml-2"></span>
        </h1>
      </div>

      <div class="flex flex-col pt-10 px-4 gap-10 md:flex-row md:gap-20 md:pt-20 lg:justify-items-center lg:grid lg:grid-cols-[repeat(5,auto)]">
        <div class="sm:grid grid-cols-2 w-full md:flex flex-col lg:col-start-2 lg:col-end-3">
          <Image src={computer} alt="what do i do" class="computer flex justify-center items-center mx-auto md:flex md:justify-start md:items-start md:mx-0" />
          <div class="flex flex-col justify-center items-center py-2 md:flex md:justify-start md:items-start md:pt-10">
            <h1 class="text-[18px] font-bold pb-4">Hvad jeg kan</h1>
            <p>UI / UX design</p>
            <p>Grafisk design</p>
            <p>Webudvikling</p>
            <p>Video- og billedredigering</p>
            <p>Social media content</p>
            <p>Motion graphics / animation</p>
          </div>
        </div>
        <div class="sm:grid grid-cols-2 w-full md:flex flex-col lg:col-start-3 lg:col-end-4">
          <Image src={code} alt="my tech stack" class="code flex justify-center items-center mx-auto pt-2 md:flex md:justify-start md:items-start md:mx-0" />
          <div class="flex flex-col justify-center items-center py-2 md:flex md:justify-start md:items-start md:pt-10">
            <h1 class="text-[18px] font-bold pb-4">Min tech stack</h1>
            <p>HTML / CSS / JavaScript</p>
            <p>Tailwind CSS / Alpine.js / Astro</p>
            <p>GitHub / Git</p>
            <p>Figma</p>
            <p>Adobe Illustrator</p>
            <p>Adobe Photoshop</p>
            <p>Adobe Premiere Pro</p>
          </div>
        </div>
        <div class="sm:grid grid-cols-2 w-full md:flex flex-col lg:col-start-4 lg:col-end-5">
          <Image src={puzzle} alt="what you can expect" class="puzzle flex justify-center items-center mx-auto md:flex md:justify-start md:items-start md:mx-0" />
          <div class="flex flex-col justify-center items-center py-2 md:flex md:justify-start md:items-start md:pt-10">
            <h1 class="text-[18px] font-bold pb-4">Hvad jeg vil</h1>
            <p>UI / UX design</p>
            <p>Visuelt Design</p>
            <p>Kode / interaktivt design</p>
            <p>Nye frameworks / tools</p>
            <p>Figma</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col w-full px-4 mx-auto justify-center pt-10 md:pt-28 md:max-w-7xl md:px-6">
    <div>
      <h1 class="text-4xl md:text-6xl flex items-end w-full tracking-wide text-[#ebcd38] font-[Display]">
        CV
        <span class="border-solid border-b-2 border-[#ebcd38] flex-1 h-1 ml-2"></span>
      </h1>
    </div>

    <div>
      <article class="flex flex-col md:grid-cols-10 md:grid-rows-7 md:grid">
        <div class="flex items-center justify-center p-6 mt-10 md:p-0 col-start-1 col-end-3 row-start-1 row-end-4 border-solid border-2 md:border-0 md:border-r-2 md:mt-0 border-[#ebcd38]">
          <Image src={education} alt="CV education" class="md:w-22 uddannelse" />
        </div>

        <div class="flex flex-col md:mx-auto md:justify-center md:items-center col-start-3 col-end-5 row-start-1 row-end-4 py-6 border-solid md:border-r-2 border-[#ebcd38] w-full">
          <div class="flex flex-col md:justify-center md:px-6 lg:mx-auto gap-2">
            <p class="text-[18px] font-bold pb-2">Uddannelse</p>
            <div class="pb-2 text-left">
              <p class="font-semibold break-words hyphens-auto">KEA / Multimediedesigner</p>
              <p class="text-[14px]">2023 - 2025, juni</p>
            </div>

            <div>
              <p class="font-semibold">GIF / Dansk A</p>
              <p class="text-[14px]">2022 - 2023, juni</p>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center p-6 md:p-0 col-start-5 col-end-7 row-start-1 row-end-5 border-solid border-2 md:border-0 md:border-r-2 border-[#ebcd38]">
          <Image src={works} alt="CV erfaringer" class="md:w-22 erfaring" />
        </div>

        <div class="flex flex-col md:mx-auto col-start-7 col-end-11 row-start-1 row-end-5 border-solid border-[#ebcd38]">
          <div class="flex flex-col pt-6 gap-2 md:justify-center md:mx-auto md:p-6">
            <p class="text-[18px] font-bold pb-2">Erfaringer</p>
            <div class="pb-2 md:text-left">
              <p class="font-bold">Lampros Kraft / Product Listing Coordinator, Assistant</p>
              <p class="text-[14px]">2015 - 2016 (i Sydkorea)</p>
              <p>Indsamling, opdatering og vedligeholdelse af produktinformation.</p>
            </div>
            <div>
              <p class="font-bold">In The Block / Graphic Designer, Assistant</p>
              <p class="text-[14px]">2014 - 2015 (i Sydkorea)</p>
              <p>Billedredigering og Layoutdesign</p>
            </div>
            <div>
              <p class="font-bold">Sekyung Printing / Printing Designer, Deltidsjob</p>
              <p class="text-[14px]">2011 - 2013 (i Sydkorea)</p>
              <p>Design og produktion af tryksager, herunder visitkort, brochurer og bannere osv.</p>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center p-6 mt-6 md:mt-0 col-start-3 col-end-5 row-start-4 row-end-8 border-solid border-2 md:border-0 md:border-r-2 md:border-t-2 border-[#ebcd38]">
          <Image src={fly} alt="CV Tværkulturel erfaring" class="fly md:w-22" />
        </div>

        <div class="flex flex-col md:justify-center md:items-center md:mx-auto w-full col-start-1 col-end-3 row-start-4 row-end-8 py-6 md:border-solid md:border-r-2 md:border-t-2 border-[#ebcd38]">
          <div class="flex flex-col md:justify-center md:mx-auto gap-2">
            <p class="text-[18px] font-bold pb-2 md:text-center">Tværkulturel erfaring</p>
            <div class="pb-2 text-left md:text-center">
              <p class="font-bold">Sverige</p>
              <p class="text-[14px]">2017 - 2018</p>
            </div>

            <div class="md:text-center">
              <p class="font-bold">Australien</p>
              <p class="text-[14px]">2012 - 2014</p>
            </div>

            <div class="md:text-center">
              <p class="font-bold">Japan</p>
              <p class="text-[14px]">2010 - 2011</p>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center p-6 col-start-8 col-end-11 row-start-5 row-end-8 border-solid w-full border-2 md:border-0 md:border-t-2 border-[#ebcd38]">
          <Image src={sprog} alt="CV sprog" class="sprog md:w-22" />
        </div>

        <div class="flex flex-col justify-center mx-auto pt-4 md:pb-6 col-start-5 col-end-8 w-full row-start-5 row-end-8 md:border-solid md:border-r-2 md:border-t-2 border-[#ebcd38]">
          <div class="flex flex-col md:justify-center md:mx-auto gap-2">
            <p class="text-[18px] font-bold pb-2">Sprog</p>
            <div>
              <p class="font-bold">Koreansk <span class="text-[14px] font-normal"> / modersmål</span></p>
            </div>
            <div>
              <p class="font-bold">Dansk <span class="text-[14px] font-normal">/ Dansk A</span></p>
            </div>
            <div>
              <p class="font-bold">Engelsk <span class="text-[14px] font-normal"> / mellemstadie</span></p>
            </div>
            <div>
              <p class="font-bold">Japansk <span class="text-[14px] font-normal"> / begynderniveau</span></p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="px-4 md:px-6 md:pt-28" id="projekter">
    <div class="md:px-6">
      <div class="flex flex-col mx-auto max-w-7xl justify-center pt-10 pb-10 md:pb-24 w-full">
        <h1 class="text-4xl md:px-6 md:text-6xl flex items-end w-full tracking-wide text-[#ebcd38] font-[Display]">
          Projekter
          <span class="border-solid border-b-2 border-[#ebcd38] flex-1 h-1 ml-2"></span>
        </h1>
      </div>

      <article class="flex justify-start items-start content-start flex-wrap m-0 p-0 gap-[28px] row-gap-[20px] md:max-w-7xl mx-auto md:grid md:grid-cols-2 lg:grid-cols-3">
        <div class="flex flex-col justify-center items-center hover:uperfekt py-6 md:py-0 lg:pt-0">
          <div class="flex flex-col">
            <a href="https://singleusesucks-plasticchange.netlify.app/" target="_blank"><Image src={singleuse} alt="Single use sucks" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Single use sucks</h1>
            <div class="">
              <p>Jeg fokuserede på at bruge visuelle effekter til at gøre brugeroplevelsen mere levende og engagerende.</p>
              <div class="flex gap-4 pt-2 text-[12px] md:text-[14px]">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Alpine.js</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">TailwindCSS</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Astro</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full hover:digital">
          <a href="https://digitalskraldgruppe6.netlify.app/" target="_blank"><Image src={digital} alt="Digital skraldedag" class="w-full h-auto object-cover rounded-md" /></a>
          <h1 class="py-4 font-semibold text-[20px]">Digital skraldedag</h1>
          <div class="">
            <p>Jeg redesignede en hjemmeside, hvor jeg fokuserede på interface-design, grafisk design og frameworks.</p>
            <div class="flex flex-col gap-2 md:gap-4 pt-2 text-[14px]">
              <div class="flex gap-4 text-[12px] md:text-[14px] md:flex-wrap">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">TailwindCSS</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Alpine.js</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Illustrator</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col pt-6 md:pt-0">
          <div class="flex flex-col w-full justify-center md:pt-10 lg:pt-0 hover:susse">
            <a href="https://sussevolanderart.netlify.app/" target="_blank"><Image src={susse} alt="Susse Volander" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Susse Volander</h1>
            <div class="">
              <p>Arbejdede med UI/UX design, fotografi og optimerede webudviklingen i redesign af en kunstners hjemmeside.</p>
              <div class="flex gap-4 pt-2 text-[12px] md:text-[14px] md:flex-wrap">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Figma</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Supabase</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Photoshop</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center pt-6 md:pt-10">
          <div class="flex flex-col mx-auto justify-center hover:snuggy">
            <a href="https://snuggyseventyr.netlify.app/spil" target="_blank"><Image src={snuggy} alt="Snuggys Eventyr" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Snuggys Eventyr</h1>
            <div>
              <p>Jeg lavede et spil for børn med fokus på animationer, interaktivt design og illustrationer med grafiske elementer.</p>
              <div class="flex gap-4 pt-2 text-[12px] md:text-[14px]">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Illustrator</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">JavaScript</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center pt-6 md:pt-10">
          <div class="flex flex-col hover:pleasant">
            <a href="https://www.youtube.com/watch?v=s2HgdR51fQc" target="_blank"><Image src={pleasant} alt="Pleasant" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Pleasant</h1>
            <div class="">
              <p>Interview-video om miljøbevidsthed, hvor jeg fokuserede på videooptagelse og foto / videoredigering.</p>
              <div class="flex gap-4 text-[12px] pt-2 md:text-[14px]">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Premiere Pro</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">YouTube</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col justify-center items-center pt-6 md:pt-10">
          <div class="flex flex-col justify-center hover:unge">
            <a href="https://kbh-typografi.netlify.app" target="_blank"><Image src={typografi} alt="Typografi" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Typografi</h1>
            <div class="">
              <p>Jeg har designet en typografi inspireret af Art Nouveau-stilen og omdannet det til en digital skrifttype, som jeg har navngivet "København Font".</p>
              <div class="flex pt-2 gap-4 text-[12px] md:text-[14px]">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Figma</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Illustrator</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center pt-6 md:pt-10">
          <div class="flex flex-col justify-center hover:unge">
            <a href="https://hjmaltclub.netlify.app/" target="_blank"><Image src={maltclub} alt="Maltclub" class="w-full h-auto object-cover rounded-md" /></a>
            <h1 class="py-4 font-semibold text-[20px]">Maltclub</h1>
            <div class="">
              <p>Jeg redesignede en hjemmeside, hvor jeg fokuserede på brugeroplevelsen og interaktivitet.</p>
              <div class="flex pt-2 gap-4 text-[12px] md:text-[14px]">
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Figma</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">Illustrator</p>
                <p class="bg-[#1e2e17] px-2 rounded-md md:px-4 py-1">TailwindCSS</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</MainLayout>
<script>
  import { inView } from "motion";
  const profil = document.querySelector(".profil");
  inView(profil, ({ target }) => {
    target.classList.add("animate__animated", "animate__slideInLeft", "fadeInOpacity");
  });

  const om_mig = document.querySelector(".om_mig");
  inView(om_mig, ({ target }) => {
    target.classList.add("animate__animated", "animate__slideInRight", "fadeInOpacity");
  });

  const computer = document.querySelector(".computer");
  inView(computer, ({ target }) => {
    target.classList.add("animate__animated", "animate__flipInY", "fadeInOpacity");
  });

  // Tilføj forsinkelse til code animation
  const code = document.querySelector(".code");
  inView(code, ({ target }) => {
    // Angiv forsinkelsen i millisekunder (f.eks. 1000 ms = 1 sekund)
    setTimeout(() => {
      target.classList.add("animate__animated", "animate__flipInY", "fadeInOpacity");
    }, 1000); // 1 sekund forsinkelse
  });

  const puzzle = document.querySelector(".puzzle");
  inView(puzzle, ({ target }) => {
    setTimeout(() => {
      target.classList.add("animate__animated", "animate__flipInY", "fadeInOpacity");
    }, 2000);
  });

  const uddannelse = document.querySelector(".uddannelse");
  inView(uddannelse, ({ target }) => {
    target.classList.add("animate__animated", "animate__rotateIn", "fadeInOpacity");
  });
  const erfaring = document.querySelector(".erfaring");
  inView(erfaring, ({ target }) => {
    target.classList.add("animate__animated", "animate__rotateIn", "fadeInOpacity");
  });
  const fly = document.querySelector(".fly");
  inView(fly, ({ target }) => {
    target.classList.add("animate__animated", "animate__rotateIn", "fadeInOpacity");
  });

  const sprog = document.querySelector(".sprog");
  inView(sprog, ({ target }) => {
    target.classList.add("animate__animated", "animate__rotateIn", "fadeInOpacity");
  });
</script>
