---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "text", size = "text" } = Astro.props;
// target = "_self" betyder at åbne fane i samme fane. "_blank" betyder at åbne fane i ny fane.

// Styling for link
const linkStyling = "inline-block rounded-lg transition-colors text-[#F4F4ED] ";

// Variant klasser
const variantClasses = {
  primary: "bg-[#FFE524] hover:bg-[#55D312] active:bg-[#55D312]",
  secondary: "bg-[#34800C] hover:bg-[#55D312]",
  textlink: "text-[#F4F4ED] hover:text-[#ecd14b] no-underline ", // tekstlink variant
};

// Size klasser
const sizeClasses = {
  large: "text-2xl py-4 px-7",
  medium: "text-[16px] py-3 px-5",
  small: "text-base py-2 px-3",
  text: "text-base", // tekstlink størrelse
  standard: "",
};
---

<a href={href} target={target} class={`${linkStyling} ${variantClasses[variant]} ${sizeClasses[size]}`}>
  <slot />
</a>
